In [225]:
%matplotlib inline
import krakenex
import pandas as pd
import json
from datetime import *
import matplotlib
import matplotlib.pyplot as plt

In [226]:
kraken = krakenex.API()
kraken.load_key('kraken.key')

In [241]:
pair_name = 'XXBTZUSD'
last = 1383839436659595694
ohlc_xxbtzusd = kraken.query_public('OHLC', {'pair': pair_name, 'interval': 60, 'since': last})

In [242]:
last = ohlc_xxbtzusd['result']['last']
data = ohlc_xxbtzusd['result'][pair_name]
for row in data:
    row[0] = datetime.fromtimestamp(row[0])

In [243]:
last

1497880800

In [244]:
df = pd.DataFrame(data, columns=['time', 'open', 'high', 'low', 'close', 'vwap', 'volume', 'count'])
df.set_index('time', inplace=True)

for col in ['open', 'high', 'low', 'close', 'vwap', 'volume']:
    df[col] = pd.to_numeric(df[col])

In [245]:
df.head()

,open,high,low,close,vwap,volume,count
time,,,,,,,
2017-05-20 18:00:00,1981.555,1984.661,1968.000,1984.598,1974.407,281.470669,708
2017-05-20 19:00:00,1984.598,1997.960,1976.001,1997.098,1986.533,245.740318,576
2017-05-20 20:00:00,1997.956,2009.862,1990.680,2006.395,2000.625,586.409312,955
2017-05-20 21:00:00,2006.395,2017.990,2000.005,2014.551,2011.235,275.578096,941
2017-05-20 22:00:00,2014.552,2034.599,2009.952,2028.997,2020.262,615.483937,782

In [231]:
x = kraken.query_public('OHLC', {'pair': pair_name, 'since': last})

In [232]:
x

{u'result': {u'last': 1497887460, u'XXBTZUSD': [[1497887520, u'2538.799', u'2539.000', u'2538.799', u'2539.000', u'2538.963', u'0.28831144', 3]]}, u'error': []}

In [86]:
last

1497884640

In [87]:
last

1497884640